- name: restart containerd
  systemd:
    name: containerd
    state: restarted
    daemon_reload: true

- name: restart kubelet
  systemd:
    name: kubelet
    state: restarted
    daemon_reload: true